.boxShadow{
    -webkit-box-shadow:0 2px 8px rgba(0,0,0,0.2);
    box-shadow:0 2px 8px rgba(0,0,0,0.2);
    -webkit-transition:opacity .13s linear;
    transition:opacity .13s linear;
    color:#8E8E8E;
    font-size:12px;
}
.directiveGallery{
    margin:1%;
    border-radius:10px;
    height:200px;
}
.containerDirectiveGallery .directiveGallery{
    
}
.positionRelative{
    position:relative;
}
.closeIconX{
    float:right;
    clear:both;
    background:no-repeat url("../images/btnCloseGrayBlack.png");
    display:inline-block;
    width:24px;
    height:24px;
    cursor:pointer;
}
.closeIconX:hover{
    opacity:0.5;
}
.modal{
    
}
.modal.animate-show{
    display: block;
}