<section id="containerCarouselLinks" class="container containerDirectiveGallery">
    <div class="row">
        <div class="col-xs-6">
            <div class="directiveGallery boxShadow" ng-click="openCarousel()">
                <tag-carousel info="dataGallery[0]"></tag-carousel>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="directiveGallery boxShadow">
                <tag-carousel info="dataGallery[1]"></tag-carousel>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="directiveGallery boxShadow">
                <tag-carousel info="dataGallery[2]"></tag-carousel>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="directiveGallery boxShadow">
                <tag-carousel info="dataGallery[3]"></tag-carousel>
            </div>
        </div>
    </div>    
</section>